@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-background: #FFF7ED;
  --color-foreground: #161616;

  --color-nav: #4D4D4D;

  --color-button-primary: #FF8C38;
  --color-button-secondary: #161616;

  --color-section: #FFCC8D;

  --color-footer-background: #252525;
  --color-footer-foreground: #AAAAAA;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-nav);
  text-align: center;
  font-weight: 600;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-weight: 800;
  font-size: 24px;
  color: black;
}

nav {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 14px;

  & a:hover {
    text-shadow: 0.5px 0 0 var(--color-nav);
    text-decoration: underline;
  }
}

footer {
  margin-top: auto;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-footer-foreground);
  background-color: var(--color-footer-background);
  padding: 20px;
  text-align: center;
}

.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  min-height: 350px;
  color: white;
  padding-block: 150px;
}

.home div {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.home h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.home p {
  font-weight: 500;
  line-height: 24px;
}

.home .cta {
  text-align: center;
  background-color: var(--color-button-primary);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding-block: 10px;
  cursor: pointer;
}

.aboutImg_container {
  height: 200px;
  overflow: hidden;

  & img {
    object-fit: cover;
  }
}

.about-content_wrapper {
  padding-inline: 20px;
}

.about-content h1 {
  line-height: normal;
  margin-block: 30px;
}

.about-content p {
  margin-block: 10px;
}

.about-cta {
  margin-block: 40px;
  padding: 30px;
  background-color: var(--color-section);
  border-radius: 5px;
  width: 100%;
}

.about-cta .cta {
  display: block;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  margin-top: 10px;
}

.vans-page {
  padding: 1rem;
  margin-bottom: 2rem;
}

.vans-page h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.van-list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.van-item {
  display: flex;
  flex-direction: column;
}

.van-item img {
  aspect-ratio: 1;
  border-radius: 10px;
}

.van-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.van-info h3 {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

.van-info p {
  font-size: 12px;
  line-height: 1;
  text-align: right;

  & span {
    font-size: 14px;
    font-weight: 600;
  }
}

.van-type {
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  display: block;
  width: fit-content;
  padding: 5px 8px;
  line-height: 1;
  background-color: #FF8C38;
  border-radius: 5px;
}

.van-type.Simple {
  background-color: #E17654;
  color: #FFEAD0;
}

.van-type.Rugged {
  background-color: #115E59;
  color: #FFEAD0;
}

.van-type.Luxury {
  background-color: #161616;
  color: #FFEAD0;
}

.detail-page {
  padding: 1rem;
  margin-bottom: 2rem;
}

.van-detail_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & img {
    border-radius: 10px;
  }
}

.van-detail_container .van-type {
  font-size: 16px;
  padding: 8px 15px;
}

.van-detail_container h3 {
  font-size: 24px;
}

.van-detail_container .price {
  font-size: 20px;

  & span {
    font-weight: 700;
  }
}

.van-detail_container .cta {
  margin-top: 10px;
  background-color: var(--color-button-primary);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  color: white;
}

.host-layout {
  padding: 1rem;
}

a.active {
  text-decoration: underline;
  text-shadow: 0.5px 0 0 var(--color-nav);
}